.PatientData {
    font-family: Arial, sans-serif;
    color: var(--color-text);
}

.patient-data-main {
    padding: 2rem;
    background-color: var(--color-background);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 800px;
    margin-bottom: 5rem;
}

.patient-data-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1rem;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: var(--color-primary);
}

.save-button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: var(--color-button-hover);
}

.patient-data-display {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.data-item {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

.data-item:last-child {
    border-bottom: none;
}

.data-item strong {
    color: var(--color-secondary);
}

.edit-button {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.edit-button:hover {
    background-color: var(--color-button-hover);
}

.required {
    color: red;
    margin-left: 0.2rem;
  }