.Signup {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .intro {
    background-color: #1C768F;
    padding: 20px;
    color: white;
  }
  
  .intro-title {
    margin: 0;
    font-size: 1.5em;
  }
  
  .Signup-main {
    max-width: 500px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #032539;
  }
  
  .input-group {
    margin: 10px 0;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #1C768F;
  }
  
  .input-group input,
  .input-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .user-type {
    text-align: center;
  }
  
  .radio-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .radio-input {
    margin-right: 5px;
  }
  
  .signup-button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #1C768F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .signup-button:hover {
    background-color: #032539;
  }